* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 1rem;
}
h3 {
    color: white;
    margin-bottom: .4rem;
    text-align: center;
    font-size: 2rem;
}
p {
   color: #f94f6d;
   font-size: 4rem;
   font-weight: 600;
   text-align: center;
   background-color: black;
   padding: .8rem .8rem;
   margin: 0;
}

.board {
    font-family: 'Cursed Timer ULiL';
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #1b244a;
    max-width: 90vw;
    margin: 2rem auto;
    border: 2px solid #9AABD8;
    border-radius: .625rem;
    padding: 2rem;
    gap: 4rem;
    min-width: 386px;
}

button {
    background-color: #1b244a;
    color: #9AABD8;
    font-size: 1.6rem;
    padding: .4rem .6rem;
    border: 1px solid #9AABD8;
    border-radius: .3125rem;
    margin-top: 1rem;
    margin-right: .4rem;
    cursor: pointer;
}
button:active {
    color: white;
    border: 1px solid white;
}

.extras {
    margin: 0 auto;
    text-align: center;
}

.home,
.guest {
    padding: .2rem;
}

.leader {
    border-top: 2px dashed rgb(40, 208, 40);
}

@media (min-width: 768px) {
    .board {
        display: flex;
        justify-content: space-around;
        background-color: #1b244a;
        max-width: 50vw;
        margin: 2rem auto;
        border: 2px solid #9AABD8;
        border-radius: .625rem;
        padding: 2rem;
        gap: 4rem;
        min-width: 462px;
        max-width: 580px;
    }
    p {
        color: #f94f6d;
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
        background-color: black;
        padding: 1rem 1.4rem;
        margin: 0;
     }
    .home,
    .guest {
        padding: .6rem;
}
     
}